

<body onload="startGame()">
    <button onclick="game.toogle()" class="button" id="btnAction">Play</button>

</body>


<style>

    body {
        background-image: url("car/images/background.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-color: #000;
    }

    canvas {
        border: 1px solid #d3d3d3;
        background-color: #000;
        display: table;
        margin: 0 auto;
    }

    .button {
        background-color: #f44336;
        border: none;
        color: white;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        position: absolute;
        bottom: 40px;
        left: 447px
    }
</style>

